/* This is style!!! */

body {
  background-color: #D4E2F9;
  margin: auto;
}

.frontPage{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url("frontpage.jpg");
  background-size: cover;
}

/*Full width navbar that stays at the top of the page */
.navBar{
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
}

.centerText{
  text-align: center;
  position: relative;
  top: 25%;
  margin: auto;
  color: #fcfae5;
  text-shadow: 1px -1px 0 #000000 , 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 0 0 3px #000000;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}

#FPheading{
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 0;

}

#FPtext{
 font-size: 2em;
 padding-bottom: 2%;
}

.wall{
  background-color: #D4E2F9;
  width: 100%;
  position: absolute;
  top: 100%;
}

.textBox0{
  display: block;
  background-color: white;
  text-align: center;
  margin: 0% auto;
  padding: 1%;
  width: 100%;
  position: relative;

}

.textBox1{
  display: block;
  background-color: grey;
  text-align: center;
  margin: 0% auto;
  padding: 1%;
  width: 100%;
  position: relative;

  }

  .textBox2{
    display: block;
    background-color: blue;
    text-align: center;
    margin: 0% auto;
    padding: 1%;
    width: 100%;
    position: relative;

    }
  .wall p{
    font-size: 1em;
  }

  .footer{
  display: block;
  background-color: white;
  text-align: center;
  margin: 0% auto;
  padding: 1%;
  width: 100%;
  position: relative;
  font-size: 75%;
  }
