/* This is style!!! */

body {
    background-color: #D4E2F9;
    margin: auto;
}

.frontPage {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("frontpage.jpg");
    background-size: cover;
}


/*Full width navbar that stays at the top of the page */

.navBar {}

.wall {
    background-color: #D4E2F9;
    width: 100%;
    position: absolute;
    top: 100%;
}

#content {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
}

#content h1 {
    padding-top: 20px;
    padding: 5px 5% 10px;
}

#content p {
    padding: 10px 5% 10px;
    line-height: 125%;
    padding-bottom: 30px;
}

#logo {
    float: left;
}

#navBar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    box-shadow: 0px 1px 10px #5E5E5E;
    position: fixed;
    top: 0px;
    height: 8%;
    z-index: 2;
}

#navigation {
    list-style-type: none;
}

li {
    display: inline;
    padding: 15px;
}

#navBar a {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: century gothic;
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

#navBar a:hover {
    border-bottom: 1px solid #eee;
}
